body {
    margin-top: 20%;
    margin-bottom: 20%;
    align-items: center;
    font-family: "JetBrains Mono", serif;
    font-size: large;
    justify-content: center;
    text-align: center;
    color: rgb(66, 66, 66);
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.class1 {
    text-decoration: none;
    color: black;
}

#one {
    table-layout: fixed;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 200%;
}

.image img {
    display: block;
    width: 30%;
    height: auto;
    transition: transform 0.2s;
}

.image img:hover {
    transform: scale(1.5, 1.5);
    motion: 1em;
}

.fimg * {
    text-align: center;
    font-size: small;
    display: block;
}

.fimg img {
    width: 5%;
    height: auto;
}

.overlay {
    position: relative;
    height: 30%;
    width: 30%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}